.webgl-content * {border: 0; margin: 0; padding: 0}

.webgl-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100% !important;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.webgl-content .logo, .progress {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.webgl-content .logo {
    background: url('progressLogo.Light.png') no-repeat center / contain;
    width: 120px;
    height: 96px;
}

.webgl-content .progress {
    height: 20px;
    width: 180px;
    margin-top: 90px;
}

.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}
.webgl-content .logo.Dark {background-image: url('logo.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('logo.png'); width: 100px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}

.webgl-content .progress.Dark .loadpercent {
    position: absolute;
    width: 180px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

body {
    background: #000;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.webgl-content #unityContainer {
    width: 100% !important;
    height: 56.25% !important;
    background: rgb(35, 31, 32) !important;
}

.start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    font-family: 'Courier New', monospace;
    width: 200px;
    margin: 0 auto;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    background: #0f1226;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.button:after {
    content: "";
    background: #0f1226;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 81%;
    left: 46%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.button:hover {
    background: #294bab;
}

.button:hover:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

/* .overlay {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: url('./start.jpg') center center no-repeat;
    background-size: cover;
} */

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.cover {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
}

.cover img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.fullscreen {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 11;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#bgvid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#unity-canvas {
    position: absolute;
    width: 100%;
    height: auto !important;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (orientation: landscape) and (max-device-width: 1020px) {
    .webgl-content {
        width: 100% !important;
    }
}

@media screen and (orientation: portrait) and (max-device-width: 768px) and (min-device-width: 320px) {
    .webgl-content {
        width: 100% !important;
    }
    .cover img {
        width: 100vw;
        height: auto;
        object-fit: contain;
    }
    #bgvid {
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }
    #unity-canvas {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }
}
